[Unit]
Description=beest headless
Wants=network.target

[Service]
Type=simple
ExecStart=/home/pi/strandbeest/headless.sh
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
